/* ``````` */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 1rem;
    max-width: 100%;
    /* border: 2px solid grey; */
}

body{
    background-image: url('https://secret-family-recipe-ui.netlify.app/assets/brooke-lark-of0pMsWApZE-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(8px); 
    padding-top: 10vh;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
}

.App {
    display:flex;
    flex-direction: column;
    align-items: center;
}


button, .loginBtn{
   font-size:1rem;
   border-radius: 5px;
   transition-duration: .4s;  
   padding: .6rem;
   background-color: #EAF4D3;
}

button:hover{
    background-image: radial-gradient(circle, white, white, white, #C73B24);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

button:disabled {
    pointer-events: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(42, 42, 42);  
}

.errors{
    color:crimson;
}

input{
    background-image: radial-gradient(circle, white, white, white, rgba(199, 59, 36, 0.2));
    padding: 1% 3%;
}

.inputs{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(199, 59, 36, 0.5);
}

nav > * {
    margin: 0 4%;
}

nav a {
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 4px;
    color: #EAF4D3;
    background-color: #C73B24;
    font-size: 1.2rem;
}

.right-nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
}



.logo {
    font-family: 'Handlee', cursive;
    font-size: 2rem;
    color: #C73B24;
    text-shadow: 1px 1px #273043;
}

.login-signUp {
    border: 3px solid rgba(199, 59, 36, 0.5);
    border-radius: 15px;
    
   
    padding: 4% 6%;
    background-color: #fff;
    font-weight: bold;
    width: 45%;
    line-height: 1.8;
}

.login-signUp h2 {
    font-size: 1.6rem;
}

.login-signUp label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
}

.login-signUp form button {
    width: 100%;
}

.login-signUp form button:disabled {
    background-color: rgba(234, 244, 211, 0.8);
}


.haveAccount {
    text-align: center;
    margin-top: 4%;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card {
    width: 800px;
    background-color: #FFF;
    padding: 3%;
    border-radius: 30px;
    margin: 2% 0;
    border: 3px solid rgba(199, 59, 36, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card span {
    font-size: 1.1rem;
}

.recipe-card > * {
    width: 100%;
}


.recipe-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.recipe-buttons button {
    width: 50%;
}

.recipe-info {
    margin-bottom: 2%;
}

.recipe-info > * {
    border: 1px solid #EAF4D3;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.recipe-info p span:nth-child(2) {
    width: 80%;
}

.recipe-info h3 {
    font-size: 1.4rem;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 3%;
    border-radius: 10px;
    width: 50%;
    border: 3px solid rgba(199, 59, 36, 0.5)
}

.recipe-form label {
    display: flex;
    flex-direction: column;
}

.recipe-form > * {
    margin-top: 2%;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-page > * {
    margin: 2% 0;
}

.home-page h2 {
    font-size: 1.4rem;
}

.search-bar {
    background-color: #fff;
    width: 100%;
    padding: 3%;
    border: 3px solid rgba(199, 59, 36, 0.5);
     border-radius: 10px;
}

.search-bar input {
    width: 100%;
}

.spinner {
    display: flex;
    justify-content: center;
}
 
/* Media Queries below:  */

@media (max-width: 800px) {
    .right-nav {
     width:60%;
    }
    .logo{
        font-size:1.3rem;
    }
    nav{
        display:flex;
        flex-direction: column;
        height: 15vh;
    }
    nav a{
        font-size:.8rem;
    }
body{
    padding-top: 20vh;
}
}